.file-uploader {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.file-uploader .box {
  width: 680px;
  font-size: 1.25rem;
  background-color: #c8dadf;
  padding: 100px 20px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}
.file-uploader .box .box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}
.file-uploader .box .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-uploader .box label {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.file-uploader .box label:hover strong {
  color: #39bfd3;
}
.file-uploader .box .box__button {
  display: none;
}
.file-uploader .box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}
.file-uploader.hide {
  display: none ;
}


html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Microsoft Yahei", sans-serif;
  color: #0f3c4b;
  background-color: #e5edf1;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}

