.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.grid-container.vertical {
  flex-direction: column;
}
.grid-container .grid {
  flex-basis: 0;
  flex-shrink: 0;
}

.file-uploader {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -70px);
}
.file-uploader.hide {
  display: none;
}
.file-uploader .file-uploader__icon {
  fill: #ccc;
  margin-bottom: 40px;
}
.file-uploader .file-uploader__file {
  display: none;
}
.file-uploader label {
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  font-size: 16px;
}
.file-uploader label:hover strong {
  color: #fff;
}

.gltf-renderer {
  display: block;
  outline: none;
  background-color: #3b3a39;
}

i.icon {
  text-indent: -999px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(f3b94952547aecd820828fec15094490.svg);
  background-size: 602px 640px;
  background-repeat: no-repeat;
}
i.icon.empty-object {
  background-position: -3px -428px;
}
i.icon.mesh {
  background-position: -24px -428px;
}
i.icon.camera {
  background-position: -129px -428px;
}
i.icon.expand {
  background-position: -213px -617px;
}
i.icon.collapse {
  background-position: -234px -617px;
}
i.icon.visible {
  background-position: -423px -428px;
}
i.icon.hidden {
  background-position: -402px -428px;
}
i.icon.tick {
  background-position: -213px -596px;
}
.gltf-node-viewer .node-list-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.gltf-node-viewer .node-list-wrapper::-webkit-scrollbar {
  display: none;
}
.gltf-node-viewer .node-list {
  font-size: 13px;
}
.gltf-node-viewer .node-list .node .node-label {
  display: flex;
  height: 22px;
  line-height: 22px;
  padding: 0 10px 0 12px;
  align-items: center;
}
.gltf-node-viewer .node-list .node .node-label .indent {
  height: 100%;
}
.gltf-node-viewer .node-list .node .node-label .indent .indent-guide {
  box-sizing: border-box;
  width: 10px;
  height: 100%;
  float: left;
  border-left: 1px solid transparent;
}
.gltf-node-viewer .node-list .node .node-label .indent .indent-guide.active:nth-child(even) {
  border-color: #585858;
}
.gltf-node-viewer .node-list .node .node-label .node-name {
  flex: 1;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}
.gltf-node-viewer .node-list .node .node-label:hover {
  background-color: #2a2d2e;
  cursor: pointer;
}
.gltf-node-viewer .node-list .node.selected > .node-label {
  background-color: #094771;
  color: #fff;
}
.gltf-node-viewer .node-list .node.expanded .node-children {
  display: unset;
}
.gltf-node-viewer .node-list .node.collapsed .node-children {
  display: none;
}
.gltf-node-viewer .body:hover .indent-guide:nth-child(even),
.gltf-node-viewer .node.selected .node-children .indent-guide:nth-child(even):last-child {
  border-color: #39393a !important;
}

.panel {
  width: 100%;
  height: 100%;
}
.panel .head {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  background-color: #323130;
}
.panel .body {
  background-color: #201f1e;
  height: calc(100% - 30px);
  overflow: auto;
}
.panel .body::-webkit-scrollbar {
  display: none;
}

.slide-input {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #595959;
  width: 140px;
  text-align: center;
}

.gltf-node-property-viewer .body {
  font-size: 12px;
  padding-top: 10px;
  box-sizing: border-box;
}
.gltf-node-property-viewer .body .input-group {
  margin: 5px 0;
}
.gltf-node-property-viewer .body .input-group .slide-input {
  border-radius: 0;
}
.gltf-node-property-viewer .body .input-group .input-wrapper:first-child > .slide-input {
  border-radius: 3px 3px 0 0;
}
.gltf-node-property-viewer .body .input-group .input-wrapper:last-child > .slide-input {
  border-radius: 0 0 3px 3px;
}
.gltf-node-property-viewer .body .input-group:first-child {
  margin-top: 0;
}
.gltf-node-property-viewer .body .input-wrapper {
  margin-bottom: 1px;
}
.gltf-node-property-viewer .body .input-name {
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-right: 10px;
}

.layer {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.menu {
  position: absolute;
  z-index: 9;
  background-color: #323130;
  width: 260px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.2) 0px 0.6px 1.8px 0px;
  border-radius: 2px;
  cursor: pointer;
}
.menu .menu-item {
  padding: 0 10px;
  margin: 5px 0;
}
.menu .menu-item .command {
  padding: 2px 20px;
  display: flex;
}
.menu .menu-item .command .command-name {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: keep-all;
}
.menu .menu-item .command .command-short-cut {
  height: 20px;
  line-height: 20px;
  flex: 1;
  text-align: right;
}
.menu .menu-item .command.checked {
  padding-left: 0px;
}
.menu .menu-item:hover {
  background-color: #094771;
  color: #fff;
}
.menu .menu-separator {
  background-color: #616162;
  height: 1px;
  margin: 0 10px;
}

.button {
  padding: 0 8px;
  cursor: default;
  color: inherit;
  display: block;
}
.button.selected,
.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.button.selected .button-label,
.button:hover .button-label {
  color: #fff;
}

.command-bar {
  display: flex;
}

.top-bar {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  font-size: 13px;
  display: flex;
  cursor: pointer;
  background-color: #201f1e;
}
.top-bar .logo {
  padding: 5px 5px 0 5px;
}
.top-bar .app-title {
  flex: 1;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}

.status-bar {
  height: 20px;
  background-color: #323130;
}
.status-bar .info {
  overflow: hidden;
  padding-right: 20px;
}
.status-bar .info li {
  float: right;
  padding: 0 7px;
  line-height: 20px;
}
.status-bar .info li .info-key {
  padding-right: 3px;
}

.resize-helper {
  width: 100%;
  height: 100%;
  position: relative;
}
.resize-helper .resize-helper-x {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
.resize-helper .resize-helper-y {
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: ns-resize;
}

ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
button {
  background: transparent;
  border: none;
  overflow: visible;
  outline: transparent;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: Segoe WPC, Segoe UI, sans-serif;
  font-size: 12px;
  margin: 0;
  color: #d2d0ce;
}
* {
  user-select: none;
}

